<h1>About Me</h1>
<p>I'm Anthony Candaele, a web developer for more then a decade now.
I'm taking proud of developing handcrafted websites, that can be used on all kinds of devices like smartphones, tablets, laptop and desktops.
Because the websites are handcrafted, they are fully customized to the needs of your business.</p>
<p>When developing a website, there are a lot of concerns to take into account, like Search Engine Optimization (SEO), performance, User Experience (UX), Responsive layout, ...
But don't worry, that's why I'm here. Together, we'll get your website optimized for your business and your users.</p>
