<h1>Would you like to work together?</h1>
<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    <p>Smidsestraat 36, 9000 Gent</p>

    <h3>Phone</h3>
    <p><%= number_to_phone "5555555555" %></p>

    <h3>Email</h3>

    <p><a href="mailto:info@anthonycandaele.com">Email me</a></p>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.7149502927064!2d3.713364615482029!3d51.03988525259875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3715e5167e35d%3A0xcf29a8f275082a85!2sSmidsestraat+36%2C+9000+Gent!5e0!3m2!1snl!2sbe!4v1504545149028" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
